# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/dist/bundle.js
/dist/bundle.css
/dist/bundle.js.map
/dist/bundle.css.map

.DS_Store
npm-debug.log*

