# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/dist/bundle.js
/dist/bundle.css
/dist/bundle.map.js
/dist/bundle.map.css

.DS_Store
npm-debug.log*

